.data-table {
    table {
        table-layout: fixed;
        width: 100%;
        max-width: 100%;
    }
    &__toolbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        &__col {
            display: flex;
            align-items: center;
            >[class*='-tool'] {
                +[class*='-tool'] {
                    margin-left: 20px;
                }
            }
        }
    }
    &__title {
        margin: 0;
    }
    &__edit-tool {
        margin: 0 10px;
    }
    &__box {
        background-color: #ffffff;
        border-radius: 6px;
        box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.1);
    }
    &__head--container {
        overflow: hidden;
        width: 100%;
    }
    &__body--container {
        width: 100%;
        overflow: auto;
    }
}

@media (min-width: 992px) {}