.query-form {
    border-radius: 6px;
    background-color: #ffffff;
    box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.1);

    &__primary {
        padding-top: 1px;
    }
    &__header {
        margin: 25px 31px 16px;
        border-bottom: 1px solid #e1e8ee;
        padding-bottom: 10px;
    }
    &__title {
        margin: 0;
    }
    &__additional {
        padding: 24px 0;
        background-color: #f8fafb;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
    }

}