.checkbox {
    &__input {
        height: 0;
        width: 0;
        visibility: hidden;
        opacity: 0;

        &:hover,
        &:focus {
            + .checkbox__label {
                .checkbox__checked-icon {
                    background: rgba(255, 255, 255, .1);
                }
            }
        }

        &:checked {
            + .checkbox__label {
                .checkbox__checked-icon {
                    border: 9px solid #86939e;
                    animation: shrink-bounce .18 ease;

                    &:before {
                        transform: scale(1);
                    }
                }
            }
        }
    }
    &__label {
        user-select: none;
        display: flex;
        align-items: center;
        color: #6b7582;
        cursor: pointer;
    }
    &__checked-icon--wrap {
        position: relative;
        margin-right: 6px;
    }
    &__checked-icon {
        display: block;
        width: 18px;
        height: 18px;
        background: transparent;
        border: 2px solid #beccd8;
        border-radius: 2px;
        cursor: pointer;
        transition: all 250ms cubic-bezier(.4, .0, .23, 1);

        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: url("../images/checked-white.svg") no-repeat center / 90%;
            transform: scale(0);
            transition: transform .2s .2s ease-in;
        }
    }
}

@keyframes shrink-bounce {
    0% {
        transform: scale(1);
    }
    33% {
        transform: scale(.85);
    }
    100% {
        transform: scale(1);
    }
}