$offset: 187;
$duration: 1.4s;

.form-group {
    margin: 0 auto 25px;
    position: relative;

    &__label {
        @include font-size(12px);
        color: #5e6977;
        line-height: 1;
        display: inline-block;
        padding-bottom: 5px;
        letter-spacing: 0.12px;
        cursor: pointer;
        will-change: color;
        transition: color $transition-time;

        /**
        * @focus
        */

        &.focused {
            color: $primary-color;
        }
    }
    &__field--wrap {
        position: relative;

        &:after {
            content: "";
            width: 0;
            height: 2px;
            background: $primary-color;
            bottom: 0;
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            will-change: width;
            transition: width $transition-time;
        }

        /**
        * @states
        */

        &.has-error {
            .form-group__field {
                border-bottom-color: red;
            }
        }

        /**
        * @focus
        */

        &.focused {
            &:after {
                width: 100%;
            }
        }
    }
    &__field {
        border: none;
        border-bottom: 1px solid #878a8d;
        background: transparent;
        width: 100%;
        outline: none;
        padding: 2px 4px 3px;

        /* Change the white to any color ;) */
        &:-webkit-autofill {
            -webkit-box-shadow: 0 0 0 1000px #f7f9fb inset;
        }
        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: #beccd8;
        }
        &::-moz-placeholder { /* Firefox 19+ */
            color: #beccd8;
        }
        &:-ms-input-placeholder { /* IE 10+ */
            color: #beccd8;
        }
        &:-moz-placeholder { /* Firefox 18- */
            color: #beccd8;
        }

        &[type="password"],
        &[id*="password"] {
            padding-right: 40px;
        }
    }

    &__row {
        margin-left: -12px;
        margin-right: -12px;
        display: flex;
        flex-wrap: wrap;
    }
    &__col {
        max-width: 100%;
        flex: 1 0 0;
        display: flex;
        align-items: center;
        padding-left: 12px;
        padding-right: 12px;

        .form-group__label {
            margin: 0 10px 0 0;
            padding: 0;
        }
    }

    &__email-status {
        position: absolute;
        width: 25px;
        height: 25px;
        right: -35px;
        top: -5px;
        margin: auto;

        &_type_spinner {
            animation: rotator $duration linear infinite;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;

            circle {
                stroke-dasharray: $offset;
                stroke-dashoffset: 0;
                transform-origin: center;
                animation:
                        dash $duration ease-in-out infinite,
                        colors ($duration*4) ease-in-out infinite;
            }
        }
        &_type_success,
        &_type_fail {
            font-size: 25px;
            animation: scale .2s ease forwards;
            transform: scale(0);
        }
        &_type_success {
            color: #06b302;
        }
        &_type_fail {
            color: red;
        }
    }

    &__password-trigger {
        position: absolute;
        right: 10px;
        top: 0;
        bottom: 0;
        margin: auto;
        cursor: pointer;
        width: 20px;
        height: 20px;
    }
    .password-trigger {
        &__icon {
            @include font-size(20px);
        }
    }
    &__password-status {
        height: 3px;
        width: 100%;
        display: block;
        margin: 5px 0 2px;
        transition: all 1s ease;
        background-image: linear-gradient(
                        to right,
                        #e9e9e9,
                        #e9e9e9 24%,
                        #ffffff 24%,
                        #ffffff 25%,
                        #e9e9e9 25%,
                        #e9e9e9 49%,
                        #ffffff 49%,
                        #ffffff 50%,
                        #e9e9e9 50%,
                        #e9e9e9 74%,
                        #ffffff 74%,
                        #ffffff 75%,
                        #e9e9e9 75%,
                        #e9e9e9 100%
        );
        &.weak {
            background-image: linear-gradient(
                            to right,
                            #e81116,
                            #e81116 24%,
                            #ffffff 24%,
                            #ffffff 25%,
                            #e9e9e9 25%,
                            #e9e9e9 49%,
                            #ffffff 49%,
                            #ffffff 50%,
                            #e9e9e9 50%,
                            #e9e9e9 74%,
                            #ffffff 74%,
                            #ffffff 75%,
                            #e9e9e9 75%,
                            #e9e9e9 100%
            );
        }
        &.so-so {
            background-image: linear-gradient(
                            to right,
                            #ffaa04,
                            #ffaa04 24%,
                            #ffffff 24%,
                            #ffffff 25%,
                            #ffaa04 25%,
                            #ffaa04 49%,
                            #ffffff 49%,
                            #ffffff 50%,
                            #e9e9e9 50%,
                            #e9e9e9 74%,
                            #ffffff 74%,
                            #ffffff 75%,
                            #e9e9e9 75%,
                            #e9e9e9 100%
            );
        }
        &.good {
            background-image: linear-gradient(
                            to right,
                            #a5c063,
                            #a5c063 24%,
                            #ffffff 24%,
                            #ffffff 25%,
                            #a5c063 25%,
                            #a5c063 49%,
                            #ffffff 49%,
                            #ffffff 50%,
                            #a5c063 50%,
                            #a5c063 74%,
                            #ffffff 74%,
                            #ffffff 75%,
                            #e9e9e9 75%,
                            #e9e9e9 100%
            );
        }
        &.great {
            background-image: linear-gradient(
                            to right,
                            #06b302,
                            #06b302 24%,
                            #ffffff 24%,
                            #ffffff 25%,
                            #06b302 25%,
                            #06b302 49%,
                            #ffffff 49%,
                            #ffffff 50%,
                            #06b302 50%,
                            #06b302 74%,
                            #ffffff 74%,
                            #ffffff 75%,
                            #06b302 75%,
                            #06b302 100%
            );
        }
    }
    &__error-msg {
        @include font-size(12px);
        color: red;
        padding: 5px 0;
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
    }
}

@keyframes rotator {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(270deg); }
}

@keyframes colors {
    0% { stroke: #4285F4; }
    25% { stroke: #DE3E35; }
    50% { stroke: #F7C223; }
    75% { stroke: #1B9A59; }
    100% { stroke: #4285F4; }
}

@keyframes dash {
    0% { stroke-dashoffset: $offset; }
    50% {
        stroke-dashoffset: $offset/4;
        transform:rotate(135deg);
    }
    100% {
        stroke-dashoffset: $offset;
        transform:rotate(450deg);
    }
}

@keyframes scale {
    0% { transform: scale(0) }
    100% { transform: scale(1) }
}

@media (max-width: 500px) {
    .form-group {
        &__error-msg {
            @include font-size(11px);
        }
        &__email-status {
            right: -25px;
        }
    }
}

@media (max-width: 767px) {
    .form-group {
        &__email-status {
            display: none;
        }
    }
;
}