.g {
    &-container {
        padding-left: 31px;
        padding-right: 31px;
    }
    &-row {
        margin-left: -31px;
        margin-right: -31px;
        display: flex;
        flex-wrap: wrap;
    }
}

[class^="g-col"] {
    max-width: 100%;
    flex: 1 0 0;
    padding-left: 31px;
    padding-right: 31px;
}

.g {
    &-col {

        &-1 {
            flex: 0 0 8.333333%;
            max-width: 8.333333%;
        }
        &-2 {
            flex: 0 0 8.333333%;
            max-width: 8.333333%;
        }
        &-3 {
            flex: 0 0 25%;
            max-width: 25%;
        }
        &-4 {
            flex: 0 0 33.333333%;
            max-width: 33.333333%;
        }
        &-5 {
            flex: 0 0 41.666667%;
            max-width: 41.666667%;
        }
        &-6 {
            flex: 0 0 50%;
            max-width: 50%;
        }
        &-7 {
            flex: 0 0 58.333333%;
            max-width: 58.333333%;
        }
        &-8 {
            flex: 0 0 66.666667%;
            max-width: 66.666667%;
        }
        &-9 {
            flex: 0 0 75%;
            max-width: 75%;
        }
        &-10 {
            flex: 0 0 83.333333%;
            max-width: 83.333333%;
        }
        &-11 {
            flex: 0 0 91.666667%;
            max-width: 91.666667%;
        }
        &-12 {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
}