.select {
    position: relative;

    &__field {
        border-bottom: 1px solid #878a8d;
        padding: 2px 4px 3px;
        font-family: $medium;
        color: #6b7582;
        position: relative;
        cursor: pointer;

        &:after {
            content: "";
            position: absolute;
            right: 10px;
            top: 0;
            bottom: 0;
            margin: auto;
            width: 0;
            height: 0;
            border-left: 3px solid transparent;
            border-right: 3px solid transparent;
            border-top: 3px solid #6b7582;
        }
    }
    &__dropdown {
        display: none;
        position: absolute;
        top: 24px;
        left: -5%;
        width: 110%;
        background: #ffffff;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
        border-radius: 2px;
        z-index: 1;
    }
    &__options-list {
        padding: 0;
        margin: 15px 0;
    }
    &__option {
        display: block;
        padding: 7px 20px;
        list-style-type: none;
        color: #6b7582;
        cursor: pointer;

        &:hover {
            color: $primary-color;
            background-color: #f0f1f2;
        }
    }

    &.open {
        .select__field {
            border-bottom: none;

            &:after {
                transform: rotate(180deg);
            }
        }
    }
}